include README.md
include LICENSE
include CHANGELOG.md
include pyproject.toml
include setup.py

# CORRECTION : Ajout de /veilt/ dans les chemins
recursive-include src/veilt/native *.cpp *.hpp
recursive-include src/veilt/vault/native *.cpp *.hpp *.so *.dll *.dylib
recursive-include src/veilt/locales *.json

recursive-include tests *.py
include assets/icon.ico
include assets/icon.png